{% extends 'base.html' %} {% block title%} Register Page{% endblock %} 
{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
        {{ form.hidden_tag() }}
            <img class="mb-4" src="https://scontent.ftun7-1.fna.fbcdn.net/v/t1.6435-9/134754717_104497044919379_3355607750328587602_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=dAt8AXdntOEAX-RpMis&_nc_ht=scontent.ftun7-1.fna&oh=e7272a80229da452dc6876f00f3d5d49&oe=616D0477" 
            width="200" height="200" alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                Please Create your Account
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}
            
            {{ form.email_address.label() }}.
            {{ form.email_address(class="form-control", placeholder="Email Address")}}
            
            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="Password") }}
            
            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="Confirm Password")}}
            
            <br>
            
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</body>
{% endblock %}
